@model TravelTrip.Models.EntityFramework.Categories

@{
    ViewBag.Title = "Category Güncelle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("CategoryUpdate", "Admin", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>KATEGORİ İŞLEM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-sm-12">
            <br />
            @Html.LabelFor(model => model.Hood, "BAŞLIK")
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                @Html.TextBoxFor(model => model.Hood, new { @class = "form-control", @placeholder = "Başlık", @maxLength = "50" })
            </div>
            @Html.ValidationMessageFor(model => model.Hood, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-12">
            <br />
            @Html.LabelFor(model => model.Explanation, "İÇERİK")
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                @Html.TextBoxFor(model => model.Explanation, new { @class = "form-control", @placeholder = "Alt Başlık", @maxLength = "50" })
            </div>
            @Html.ValidationMessageFor(model => model.Explanation, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-12">
            <div class="input-group">
                @ViewBag.Error
            </div>
        </div>

        <div class="col-sm-12">
            <br />
            <div class="input-group">
                <a href="@Url.Action("Category","Admin")" class="btn btn-facebook">GERİYE DÖN</a>

                <button type="submit" class="btn btn-block bg-gradient-success btn-flat">GÜNCELLE</button>
            </div>
        </div>
        <br />
    </div>
}

